#user-input {
  padding: 1rem;
  max-width: 60rem;
  margin: 5rem auto;
  border: 1px solid #FB37A3;
  border-radius: 10px;
  background: white;
}

.container {
  padding: 1rem;
  max-width: 30rem;

}


